@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");
body {
  font-family: BlinkMacSystemFont;
  background-color: grey;
}

/* ------- HEADER --------- */
.header {
  background-color: black;
}

.tituloHeader {
  display: inline-block;
  padding: 1rem;
  font-style: italic;
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 2rem;
  letter-spacing: 10px;
}

.tituloHeader a {
  text-decoration: none;
  color: #ffffff;
}

.lista ul li {
  list-style: none;
  display: inline-block;
}

.lista ul li a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
}

ul li a:hover {
  text-decoration: line-through;
}

/* ------- TITULO PRINCIPAL ----- */
/* -------  FECHAS ------- */
.seccionTour {
  margin-top: 4rem;
  box-shadow: 0px 0px 5px 0px #f48c06;
  padding: 0px;
}

.fechas {
  height: 80px;
  text-align: center;
  background-color: black;
  color: #ffffff;
  font-style: italic;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.fechas:hover {
  background-color: white;
  color: black;
}

.enlacesTickets a {
  text-decoration: none;
  color: #f48c06;
}

.enlacesTickets a:hover {
  font-weight: 700;
  font-size: 1.2rem;
}
