@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");
/* line 2, ../../Trabajo Final/scss/estilos.scss */
body {
  font-family: 'STIX Two Math', serif;
  font-style: italic;
  background-color: black;
}

@media all and (min-width: 768px) {
  /* line 2, ../../Trabajo Final/scss/estilos.scss */
  body {
    background: url(../media/background.jpg);
    background-attachment: fixed;
    background-position: center;
  }
}

/* -------- HEADER --------- */
/* line 14, ../../Trabajo Final/scss/estilos.scss */
.bg-dark {
  background-color: #000000 !important;
}

/* line 17, ../../Trabajo Final/scss/estilos.scss */
.navbar .nav-item {
  background-color: black;
}

/* line 20, ../../Trabajo Final/scss/estilos.scss */
.navbar-dark .navbar-nav .nav-link {
  color: white;
  letter-spacing: 3px;
  padding-left: 15px;
  font-size: 1rem;
  font-style: italic;
}

/* line 27, ../../Trabajo Final/scss/estilos.scss */
.navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: line-through;
  color: #ff7900;
}

@media all and (min-width: 768px) {
  /* line 32, ../../Trabajo Final/scss/estilos.scss */
  .navbar .nav-item {
    background-color: transparent;
  }
  /* line 35, ../../Trabajo Final/scss/estilos.scss */
  .navbar-brand {
    padding-left: 25px;
  }
  /* line 39, ../../Trabajo Final/scss/estilos.scss */
  .navbar-expand-lg .navbar-collapse {
    padding-right: 25px;
  }
  /* line 42, ../../Trabajo Final/scss/estilos.scss */
  .navbar-dark .navbar-nav .nav-link {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* ------- HEADER SECCION  ------- */
/* line 48, ../../Trabajo Final/scss/estilos.scss */
.imgPresentacion {
  border-bottom: 3px solid black;
  height: 250px;
  background: url(../media/secciones.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 58, ../../Trabajo Final/scss/estilos.scss */
.misTitulos {
  color: #ff7900;
  font-style: italic;
  font-size: 1.8rem;
  letter-spacing: 10px;
  font-weight: 400;
}

@media all and (min-width: 768px) {
  background: url(../media/seccionesMobile.jpg);
}

/* ------- CONTENIDO TOUR ------- */
/* line 69, ../../Trabajo Final/scss/estilos.scss */
.fechas {
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: white;
  height: 80px;
  text-align: center;
  background-color: black;
  color: #ffffff;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 3px;
  font-weight: 400;
}

/* line 82, ../../Trabajo Final/scss/estilos.scss */
.fechas:hover {
  background-color: white;
  color: black;
}

/* line 86, ../../Trabajo Final/scss/estilos.scss */
.enlacesTickets a {
  text-decoration: none;
  color: #ff7900;
}

/* line 90, ../../Trabajo Final/scss/estilos.scss */
.enlacesTickets a:hover {
  font-weight: 700;
  font-size: 1rem;
}

/* ------- CONTENIDO MUSICA ----- */
/* line 95, ../../Trabajo Final/scss/estilos.scss */
.tapaAlbum {
  text-align: right;
}

/* line 98, ../../Trabajo Final/scss/estilos.scss */
.tapaAlbum .border {
  border: 2px solid #ff7900 !important;
}

/* line 101, ../../Trabajo Final/scss/estilos.scss */
.albums {
  background: black;
  color: white;
}

/* line 105, ../../Trabajo Final/scss/estilos.scss */
.canciones {
  font-style: italic;
  letter-spacing: 3px;
  font-size: 1rem;
  text-transform: uppercase;
}

/* line 111, ../../Trabajo Final/scss/estilos.scss */
.canciones p:hover {
  color: #ff7900;
  text-decoration: line-through;
}

/* line 115, ../../Trabajo Final/scss/estilos.scss */
.tituloAlbum {
  padding-top: 20px;
}

/* line 117, ../../Trabajo Final/scss/estilos.scss */
.tituloAlbum p {
  font-style: italic;
  font-size: 1.8rem;
  letter-spacing: 7px;
  text-align: center;
}

@media all and (max-width: 768px) {
  /* line 125, ../../Trabajo Final/scss/estilos.scss */
  .canciones {
    text-transform: lowercase;
  }
}

/* ------- CONTENIDO MEDIA -------*/
/* ------- CONTENIDO HISTORIA ------- */
/* line 131, ../../Trabajo Final/scss/estilos.scss */
.seccionHistoria {
  background-color: black;
  color: white;
}

/* line 135, ../../Trabajo Final/scss/estilos.scss */
.texto {
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 5px;
  text-align: center;
}

/* line 141, ../../Trabajo Final/scss/estilos.scss */
.textoDestacado {
  color: #ff7900;
  font-weight: bold;
}

/* ------- COTENIDO CONTACTO ------- */
/* line 146, ../../Trabajo Final/scss/estilos.scss */
.btn {
  color: white;
  border-color: black;
  background-color: #ff7900;
  font-style: italic;
  letter-spacing: 3px;
  font-size: 12px;
  text-align: center;
}

/* line 155, ../../Trabajo Final/scss/estilos.scss */
.btn:hover {
  color: black;
  border-color: white;
  background-color: white;
  border: 2px solid black;
}

/* line 161, ../../Trabajo Final/scss/estilos.scss */
.form-group .form-control {
  font-style: italic;
  letter-spacing: 3px;
}

/* line 165, ../../Trabajo Final/scss/estilos.scss */
.form-group .form-control:focus {
  border: 2px solid black;
  box-shadow: 0px 0px 0px 0px;
}

/* line 169, ../../Trabajo Final/scss/estilos.scss */
.formulario {
  border: 2px solid black;
  background-color: black;
}

/* -------  FOOTER ------- */
/* line 174, ../../Trabajo Final/scss/estilos.scss */
.card-footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

/* line 179, ../../Trabajo Final/scss/estilos.scss */
.card-footer p {
  font-style: italic;
  font-size: 13px;
  letter-spacing: 3px;
}

/* line 185, ../../Trabajo Final/scss/estilos.scss */
.logos i {
  font-size: 1.5rem;
  color: white;
}

/* line 189, ../../Trabajo Final/scss/estilos.scss */
.logos i:hover {
  color: #ff7900;
}

/*# sourceMappingURL=estilos.css.map */